.BUTTON_RNR {
   background: #D0A31E;
   background-image: -webkit-linear-gradient(top, #D0A31E, #C2D01E);
   background-image: -moz-linear-gradient(top, #D0A31E, #C2D01E);
   background-image: -ms-linear-gradient(top, #D0A31E, #C2D01E);
   background-image: -o-linear-gradient(top, #D0A31E, #C2D01E);
   background-image: -webkit-gradient(to bottom, #D0A31E, #C2D01E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 20px;
   font-weight: 900;
   padding: 20px;
   -webkit-box-shadow: -24px 18px 79px 8px #FFAE00;
   -moz-box-shadow: -24px 18px 79px 8px #FFAE00;
   box-shadow: -24px 18px 79px 8px #FFAE00;
   text-shadow: 1px 1px 20px #5CFF00;
   border: solid #FFD700 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_RNR:hover {
   border: solid #ED4433 1px;
   background: #C2D01E;
   background-image: -webkit-linear-gradient(top, #C2D01E, #D0A31E);
   background-image: -moz-linear-gradient(top, #C2D01E, #D0A31E);
   background-image: -ms-linear-gradient(top, #C2D01E, #D0A31E);
   background-image: -o-linear-gradient(top, #C2D01E, #D0A31E);
   background-image: -webkit-gradient(to bottom, #C2D01E, #D0A31E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}